.editBtn {
border-radius: 5px; /* Adjust the border radius as needed */
}

.dropdown-menu .dropdown-item {
padding: 0.5rem 1rem;
}

.addStudent{
padding-top: 2rem;
padding-left: 4rem;
float: right;
padding-right: 2rem;
}

.loginBtn {
    padding-top: 2rem;
    padding-left: 4rem;
    float: right;
    padding-right: 2rem;
    }



div#navbarNav\ navStudents {
margin-right: 1rem;
}

/* .StdDetailsNavbar {
margin: auto;
} */

.tableDiv{
margin: 2rem;
}

/* .logCard{
    margin: 3rem;
} */

.headerDiv{
z-index: 10000;
width: 100%;
}



* {
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;
/* font-weight: <weight>; */
    font-style: normal;
    }

    .left-inner-addon {
    position: relative;
    width: 200px;
    }
    .left-inner-addon input {
    padding-left: 24px;
    width: 170px; /* 200px - 30px */
    }
    .left-inner-addon img {
    position: absolute;
    left: 0px;
    padding: 10px 12px;
    pointer-events: none;
    top: 1rem;
    }

    /* .recordId{
    display: none;
    } */


    .loginDiv {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }




